
#back-button {
    background-color: #ffff00;
    color: #000000;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    border-radius: 50px;
    font-family: Vollkorn, serif;
    box-shadow: 0 0 0 4px #000000;
    margin-right: 20px; 
}

#back-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 4px #ffffff;
    color: #ffffff;
    background-color: #000000;
}

/* Define styles for the content box */
.content-box {
    margin: 20px auto; 
    max-width: 1300px; 
    background-color: #000000; 
    border: 2px solid #ffff00; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, color 0.3s ease; 
    color: #ffff00; 
    text-align: center; 
}

.dark-mode .content-box {
    background-color: #000000; 
    color: #ffff00; 
}

/* Define styles for the dropdown button */
.dropbtn {
    background-color: #ffff00; 
    color: #000000; 
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    border-radius: 0px;
    font-family: Vollkorn, serif;
    box-shadow: 0 0 0 4px #000000;
    margin-bottom: 20px; 
    width: auto; 
}

.dropbtn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 4px #ffffff;
}


.dropdown-content {
    display: none;
    position: relative; 
    background-color: #000000;
    border: 2px solid #ffff00;
    border-radius: 8px;
    color: #ffff00;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    left: 0; 
    top: calc(100% + 10px);
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content a {
    color: #ffffff; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.dropdown-content a:hover {
    background-color: #ffff00; 
    color: #000000; 
    
}


.dropdown:hover .dropdown-content {
    display: block;
}



#text-input, #phone-input, #address-input {
    background-color: #000000; 
    color: #ffff00; 
    border: 2px solid #ffff00; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 18px; 
    width: calc(50% - 5px); 
    margin: 10px; 
}


#text-input:hover, #phone-input:hover, #address-input:hover {
    border-color: #000000; 
}


#text-input:focus, #phone-input:focus, #address-input:focus {
    outline: none; 
    border-color: #ffff00; 
}

/* Adjust the size of the text input boxes */
#text-input, #phone-input, #address-input {
    width: calc(50% - 20px); 
}
